<%- include('../application/head.ejs') %>
<%- include('../application/errors.ejs') %>

	<section class="colors"></section>

<script src="/assets/colors.js"></script>
<%- include('../application/foot.ejs') %>
