<%- include('../application/head.ejs') %>
<%- include('../application/errors.ejs') %>

	<p>Hello <strong>@<%= user %></strong></p>

<script src="/assets/browser.js"></script>
<%- include('../application/foot.ejs') %>
