<%- include('../application/head.ejs') %>
<%- include('../application/errors.ejs') %>

	<section class="introduction">
		<h1>Twitter now</h1>
		<p>See 1% of the entire Twitter tweet stream in real-time, visualised as pixel art, or plotted on a map. Filter tweets based on popular topics or tags.</p>
		<a href="/auth/twitter/signin">Sign in with Twitter</a>
	</section>

<%- include('../application/foot.ejs') %>
