<%- include('../application/head.ejs') %>
<%- include('../application/errors.ejs') %>

	<main class="map-container">
		<section class="explanation">
			<h1>Tweets with locations and places</h1>
			<p>The initial visualisation shows you the mood of tweets from all over the world, provided their Tweets were in English. The tweets are analyzed by sentiment and displayed on a map. The tweets disappear over time.</p>
			<p>You can also see filtered tweets, based on trending topics around you. Your location is needed. If you don't want to give it, we use trending topics from the entire world.</p>
			<button data-toggle="trends">Filter by trends</button>
			<div class="loader hide">
				<img src="/assets/images/puff.svg" alt="Loading data...">
			</div>
			<div class="filters hide">
				<h2>Trending topics</h2>
			</div>
		</section>
		<section class="map">
			<div></div>
		</section>
	</main>

<script src="/assets/map.js"></script>
<%- include('../application/foot.ejs') %>
