<%- include('../application/head.ejs') %>
<%- include('../application/errors.ejs') %>

	<section class="map"></section>

<script src="/assets/map.js"></script>
<%- include('../application/foot.ejs') %>
