<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Twitter Datavisualisation</title>
	<style>
		body {
			margin: 0;
			padding: 0;
		}

		.colors {
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			display: flex;
			flex-flow: row wrap;
		}

		.colors div {
			flex: 0 1vw;
			height: 1vw;
		}

		.map {
			width: 100vmin;
			height: 66vmin;
			margin: 0 auto;
		}

		.land {
			fill: #eee;
		}

		.night {
			fill: steelblue;
			fill-opacity: .3;
			stroke: steelblue;
		}

		.tweet {
			fill: lightblue;
		}

		.place {
			fill: hotpink;
			fill-opacity: .6;
			stroke: hotpink;
		}
	</style>
</head>
<body>

